h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 300px;
}

h2 {
    text-decoration: overline;
    font-weight: bold;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 5px;
}

.content, p ol {
    font-size: 20px;
    padding-left: 20px;
    margin-top: -20px;
}

select, option {
    float: right;
    text-align: center;
    font-weight: bold;
    width: 30em;
}

ul .dettagli {
    padding-bottom: 10px;
}

.labelFiltro {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.appName {
    text-align: center;
    color: white;
    padding-top: 30px;
}

.homeBackground {
    background-image: url("./background-home.jpg");
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.magliette{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
